[submodule "neobundle.vim"]
    path = neobundle.vim
    url = https://github.com/Shougo/neobundle.vim.git
    ignore = dirty
[submodule "tmux-powerline"]
    path = tmux-powerline
    url = https://github.com/kazuph/tmux-powerline.git
    ignore = dirty
[submodule "z"]
    path = z
    url = git://github.com/knu/z.git
    ignore = dirty
