[submodule "vundle.git"]
    path = vimfiles/vundle.git
    url = http://github.com/gmarik/vundle.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
